// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container-flex {
    display: flex;
    &.vertical {
        flex-direction: column;
    }
}
.item {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    position: relative;
    .tags-container {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
.filler {
    flex-grow: 1;
}
.tag {
    background-color: cornflowerblue;
    color: white;
    margin-left: 5px;
    padding: 5px;
    border-radius: 2px;
}
