// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container-flex {
    display: flex;
    &.vertical {
        flex-direction: column;
    }
}
.item {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}